body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.time {
  text-align: right;
  font-weight: bold;
  color: green;
}
.question {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}


.label {
  margin-left: 10px;
}
input[type="radio"]:checked + .label {
  color: green;
  font-weight: 600;
}

@media (max-width: 400px) {
  .card {
    width: 100% !important;
  }
}
